*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Didact Gothic', sans-serif;
    color: #2E2E2E;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

h1 {
    font-size: 48px;
    font-family: 'Cantarell', sans-serif;
}

h2 {
    font-size: 4.5vmin,.6vmax;
    font-family: 'Cantarell', sans-serif;
}

/* Home */
#nav {
    position:absolute;
    z-index: 100;
}

.navbar {
    text-align: center;
    font-family: 'Cantarell', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    color: #9B9B9B;
    padding-top: 40px;
    padding-bottom: 70px;
}

.burger {
    display: none;
    z-index: 200;
    position: absolute;
    right: 0px;
    margin-right: 6%;
    transform: translate(-10px,-14px);
}

.burger div {
    width: 30px;
    height: 3px;
    background-color: #2E2E2E;
    margin: 5px;
    transition: all .3s ease; 
}

.line2 {
    width: 25px !important;
    background-color: #9AA28D;
}

@media all and (max-width: 576px) {
    .navbar { 
        right: 0px;
        height: 100vh;
        background-color: #fcfcfc;
        opacity: 0;
        width: 100vw;
        transition: transform .6s ease-in-out;
        z-index: 100;
    }
    .mobile-color { 
        color: #2E2E2E;
    }
    .burger {
        display: block;        
    }
    .navbar div {
        opacity: 0;
    }
}

.nav-active {
    opacity: .9;
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

.gray:hover {
    color: #2E2E2E;
}

a {
    text-decoration: none;
    color: #9B9B9B;
}

a:hover {
    color: #2E2E2E;
}
  
.link{
    position: relative;
    cursor: pointer;
}
  
.link:after{
    content: '';
    position: absolute;
    width: 0; height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #2E2E2E;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}
   
.link:hover:after{
    width: 100%;
    left: 0;
    background: #2E2E2E;
}

.logo {
    position:absolute;
    margin-left: 6%;
    padding-top: 25px;
    z-index: 500;
}

.yo {
    width:300px;
    height:300px;
    background-image: url(images/profile_pic.JPG);
    background-size:cover;
    background-position:center;
    border-radius:50%;
    margin: 0 auto;
}

@media all and (max-width: 375px) {
    .yo {
        width:250px;
        height:250px;
    }
}

/* .about-rectangle {
    position: relative;
    width: 100%;
    background-image: linear-gradient(to top right,#d8f3fc, #3b7a91);
    z-index: -1;
} */

/* #profile-img {
    transform: translate(-10px,-12px);
    width: 100%;
    height: 100%;
} */


/* @media all and (max-width: 576px) {
    .about-rectangle {
        border-radius: 50%;
        height: 300px;
        width: 300px;
    }
    #profile-img {
        width:500px;
        height:500px;
        background-size:cover;
        background-position:center;
        border-radius:50%;
    }
}

@media all and (max-width: 992px) {
    #profile-img { height: 375px; width: 100%; object-fit: cover;
        object-position: 0px -100px;}
} */

.bold {
    font-weight: bold;
}

.about-link {
    color:#3b7a91;
}

#resume-button {
    padding: 8px;
    font-size: 16px;
    border: 2.5px solid #3b7a91;
    border-radius: 6px;
    max-width: 180px;
    height: 45px;
    color: #3b7a91;
    cursor: pointer;
}

#resume-button:hover {
    color: white;
    background-image: linear-gradient(to right, #456f80, #3b7a91);
}

.circular-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#skills {
    position: relative;
    /* background:#456f80; */
    border-radius: 100%;
    /* padding: 30px; */
    /* user-select: none;
    pointer-events: none; */
    /* transform: scale(.8); */
    animation: animate 175s linear infinite;
}

@media all and (max-width: 576px) {
    #skills {display: none;}
}

#skills span {
    font-size: 12px;
    position: absolute;
    transform-origin: top left;
    /* transform-origin: 00% 00%;  */
    /* text-transform: uppercase;
    display: inline-block;
    transform-origin: 0 100px; */
}
@keyframes animate 
{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#skills-mobile {
    display: none;
}

@media all and (max-width: 576px) {
    #skills-mobile {display:inline-block;}
}

.yoo {
    position: relative;
    width: 300px;
    height:300px;
    background-image: url(images/profile_pic.JPG);
    background-size:cover;
    background-position:center;
    border-radius:50%;
    margin: 0 auto;
}

@media all and (min-width: 576px) {
    .yoo {position: absolute;}  
}

@media all and (max-width: 400px) {
    .yoo {
        width: 200px;
        height: 200px;
    }  
}

.border-line {
    border-bottom: 1px solid rgb(29, 28, 28);
    width: 30vw;
}

@media all and (max-width: 375px) {
    #favorites {font-size: 14px;}
}

