@import url('https://fonts.googleapis.com/css?family=Roboto:700');

@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  /* 40%, 60% { transform: translate3d(0, 50%, 0); } */
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes viewProjects-reveal {
	100% { opacity: 1; }
  }
@keyframes heroButton-reveal {
	100% { opacity: 1; }
  }

.animated-title {
	justify-self: left;
	justify-content: left;
	font-family: 'Cantarell', sans-serif;
	color: #2E2E2E;
  /* color: #222; */
  /* font-family: Roboto, Arial, sans-serif; */
  /* height: 90vmin; */
  /* left: 50%; */
  position: relative;
  /* top: 50%; */
  /* transform: translate(-50%, -50%); */
  width: 70vmin;
  margin: 0 auto;
  margin-top: 25vh;
}
.animated-title div {
  height: 50%;
  overflow: hidden;
  /* position: absolute; */
  width: 100%;
}

.heading {
	font-size: 7.4vmin;
	padding: 2vmin 0;
}

.sub-heading {
	padding: 2vmin 0;
}

.animated-title div div span {
  display: block;
}
.animated-title div.text-top {
  border-bottom: 2px solid rgb(39, 39, 39);
  top: 0;
}
.animated-title div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
/* .animated-title div.text-top div span:first-child {
  color: #767676;
} */

.animated-title div.text-bottom {
  bottom: 0;
}
.animated-title div.text-bottom div {
  animation: showBottomText 1.3s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

.tileLeft {
  opacity: 0;
}

.tileRight {
  opacity: 0;
}

.tileBottom {
  opacity: 0;
}

@keyframes tileLeftAnim { 
  from {
      transform: translateX(-100px);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1; 
  }
}

@keyframes tileRightAnim { 
  from {
      transform: translateX(100px);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1; 
  }
}

@keyframes tileBottomAnim { 
  from {
      transform: translateY(100px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1; 
  }
}

.nav-guy {
  opacity: 0;
}

@keyframes navalanim { 
  from {
      transform: translateX(-100px);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1; 
  }
}
