*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
.viewer {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth; 
    --scroll-behavior: smooth;
  }

/* Safari 11+ */
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .viewer {
        max-width: 100%;
        overflow-x: hidden;
      }
}}
  
.slide {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
}

/* Chrome 29+ */
@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
    .slide {
        max-width: 100%;
        overflow-x: hidden;
    }
}

html {
    scroll-behavior: smooth; 
    --scroll-behavior: smooth;
}

body {
    font-family: 'Didact Gothic', sans-serif;
    color: #2E2E2E;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

section {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
}

h1 {
    font-size: 48px;
    font-family: 'Cantarell', sans-serif;
}

h2 {
    font-size: 4.5vmin,.6vmax;
    font-family: 'Cantarell', sans-serif;
}

/* Home */
#nav {
    position:fixed;
    z-index: 100;
}

.navbar {
    text-align: center;
    font-family: 'Cantarell', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    color: #9B9B9B;
    padding-top: 40px;
    padding-bottom: 70px;
}

.burger {
    display: none;
    z-index: 200;
    position: absolute;
    right: 0px;
    margin-right: 6%;
    transform: translate(-10px,-14px);
}

.burger div {
    width: 30px;
    height: 3px;
    background-color: #2E2E2E;
    margin: 5px;
    transition: all .3s ease; 
}

.line2 {
    width: 25px !important;
    background-color: #9AA28D;
}

@media all and (max-width: 576px) {
    .navbar { 
        position: absolute;
        right: 0px;
        height: 100vh;
        background-color: #fcfcfc;
        opacity: 0.9;
        width: 103vw;
        transform: translateX(100%);
        transition: transform .6s ease-in-out;
        z-index: 100;
    }
    .mobile-color { 
        color: #2E2E2E;
        /* opacity: 0; */
    }
    .burger {
        display: block;        
    }
    .navbar div {
        opacity: 0;
    }
}

.nav-active {
    transform: translateX(0%);
    /* opacity: .9; */
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

.gray:hover {
    color: #2E2E2E;
}

a {
    text-decoration: none;
    /* color: #9B9B9B; */
    color: #6B6B6B;
}

a:hover {
    color: #2E2E2E;
}
  
.link{
    position: relative;
    cursor: pointer;
}
  
.link:after{
    content: '';
    position: absolute;
    width: 0; height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #2E2E2E;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}
   
.link:hover:after{
    width: 100%;
    left: 0;
    background: #2E2E2E;
}

.logo {
    position:absolute;
    margin-left: 6%;
    padding-top: 25px;
    z-index: 500;
}

.intro {
    justify-self: left;
    font-family: 'Cantarell', sans-serif;
    color: #2E2E2E;
    /* margin-top: 30vh; */
    /* opacity: 0; */
    font-size: 62px;
}

.intro-subtext {
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
    color: #2E2E2E;
    /* margin-top: -60px; */
    font-size: 18px;
    /* display: none; */
}
 
#hero-button {
    padding: 20px;
    font-size: 16px;
    border: 2.5px solid #3b7a91;
    border-radius: 6px;
    max-width: 180px;
    height: 50px;
    color: #3b7a91;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: heroButton-reveal 3s;
	animation-delay: 2.7s;
	animation-fill-mode: forwards;
}

#hero-button p {
    top: 100%;
    position: relative;
}

#hero-button:hover {
    color: white;
    /* background-color: #3b7a91; */
    background-image: linear-gradient(to right, #456f80, #3b7a91);
    border: 2.5px solid #3b7a91;
}

.view-projects {
	/* display: none; */
	opacity: 0;
	/* margin-top: 10vh; */
	/* position: absolute; */
	animation: viewProjects-reveal 3s;
	animation-delay: 3.5s;
	animation-fill-mode: forwards;
}

.viewproject-padding {
    margin-top: 24vh;
}

@media all and (max-width: 375px) {
    .project-padding {
        margin-top: 18vh;
    }
}

.arrow-position {
    margin-top: -20px;
}

/* Project1 */

.project-tiles {
    position: relative;
    top: 20vh;
}

@media all and (max-width: 768px) {
    .project-tiles {
        position: relative;
        transform:translateY(-20px)
    }
}

@media all and (max-width: 375px) {
    .project-tiles {
        transform:translateY(-40px)
    }
}

.naval-vp {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 20vh;
}

@media all and (max-width: 992px) {
    .naval-vp{ display: none}
}

.naval {
    background-color: #D5D5D5;
    height: 12vh;
    width: 4px;
    position: absolute;
    margin-left: 7%;
    opacity: 0;
}

.naval-selected {
    --background-color: #2E2E2E;
    background-color: var(--background-color);
    transition: background-color 500ms ease-in-out;
}

.dissapear {
    opacity:0;
    transition: opacity 400ms ease-in-out;
}

#naval1 {
    margin-top: 12vh;
    /* background-color: #2E2E2E; */
}

#naval2 {
    margin-top: 28vh;
}

#naval3 {
    margin-top: 44vh;
}

/* [1] The container */
.img-hover-zoom {
    overflow: hidden; 
    position: relative;
}
  
/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
    transition: transform .5s ease;
}
  
/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
    transform: scale(1.05);
}

@media all and (max-width: 768px) {
    .img-hover-zoom { height: 48vh;  }
}

.picture-container-sm{
    /* height: 50%; */
    height: 35vh;
    width: 100%;
    object-fit: cover;
    /* object-position: 0px -40px; */
    /* border-radius: 13px; */
  }

@media all and (max-width: 1100px) {
    .picture-container-sm { display:none; }
}

.picture-container-lg{
    /* height: 100%; */
    height: 70vh;
    /* width: 100%; */
    object-fit: cover;
    /* object-position: 0px -30px; */
    /* border-radius: 13px; */
    margin: 0 auto;
}

@media all and (max-width: 768px) {
    .picture-container-lg { object-position: 50% -80px; }
}

/* .center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
} */

.mobile_img {
        display: none;
    }
    
@media all and (max-width: 420px) {
    .desktop_img {
        display: none;
    }
    .mobile_img {
        display:inherit;
        object-fit: cover;
        object-position: 50% -65px;
    }
}

.project-description-box {
      height: 35vh;
      width: 100%;
      padding: 40px 30px 0px 30px;
      line-height: 19px;
}

@media only screen and (max-width: 1100px) {
    .project-description-box { height: 70vh; }
}

@media only screen and (max-width: 768px) {
    .project-description-box { height: 25vh; padding-top: 20px;}
}

@media only screen and (max-width: 375px) {
    .project-description-box { height: 28vh;}
}

@media only screen and (max-width: 321px) {
    .project-description-box { height: 30vh; padding: 20px 20px 0px 20px;}
}

#project1-description-box {
    background-color: #9AA28D;
}

#project2-description-box {
    background-color: #FDF3D2;
}

#project3-description-box {
    background-color: #909F76;
}

.view-study {
    transform: translate(148px,-35px);
}

.view-study-style {
    text-decoration: none;
    color: #2E2E2E;
    position: absolute;
    bottom: 0px;
    /* padding-bottom: 5px; */
    font-size: 100%;
    text-decoration: underline;
    transform: translateY(10px);
}

@media all and (max-width: 350px) {
    .view-study-style {
        transform: translateY(20px);
    }
}

#contact-position {
    top: 150px;
    position: relative;
}

@media all and (max-width: 375px) {
    #contact-position {
        transform:translateY(-60px)
    }
}

.about-rectangle {
    position: relative;
    width: 100%;
    background-image: linear-gradient(to top right,#d8f3fc, #3b7a91);
    /* transform: translate(15px,15px); */
    z-index: -1;
}

#profile-img {
    transform: translate(-10px,-12px);
    width: 100%;
    height: 100%;
    /* height: 35vh; */
    /* border-radius: 13px; */
}

@media all and (max-width: 992px) {
    #profile-img { height: 375px; width: 100%; object-fit: cover;
        object-position: 0px -100px;}
}

.bold {
    font-weight: bold;
}

.about-link {
    color:#3b7a91;
}

#resume-button {
    padding: 8px;
    font-size: 16px;
    border: 2.5px solid #3b7a91;
    border-radius: 6px;
    max-width: 180px;
    height: 45px;
    color: #3b7a91;
    cursor: pointer;
}

#resume-button:hover {
    color: white;
    background-color: #3b7a91;
}

.rotate {
    transform: rotate(180deg)
}

.back-position { 
    margin-top: 35vh;
}

@media all and (max-width: 768px) {
    .back-position { 
        margin-top: 30vh;
    }
}

@media all and (max-width: 375px) {
    .back-position { 
        margin-top: 25vh;
    }
}

.wrapper {
    min-height: calc(100vh - 200px);
}

footer {
    height: 200px;
}

.copyright {
    color:#9B9B9B;
    font-size: 13px;
}

.page-arrow {
    padding-top: 30px;
    position: absolute;
    margin: 0 auto;
    z-index: 400;
}


@media all and (max-width: 768px) {
    .reverse {
        display: flex;
        flex-direction: column-reverse;
    }
}