* {
    box-sizing: border-box;
  }
  
.viewer {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth; 
    --scroll-behavior: smooth;
  }
  
.slide {
    width: 100vw;
    height: 100vh;

    scroll-snap-align: start;
    scroll-snap-stop: normal;
}

html {
    scroll-behavior: smooth; 
    --scroll-behavior: smooth;
}

body {
    font-family: 'Didact Gothic', sans-serif;
    color: #2E2E2E;
    /* width: 100vw;
    height: 100vh; */
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

section {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
}

h1 {
    font-size: 48px;
    font-family: 'Cantarell', sans-serif;
}

h2 {
    font-size: 36px;
    font-family: 'Cantarell', sans-serif;
}

.viewer {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }

/* Home */
#nav {
    position:fixed;
}

.navbar {
    text-align: center;
    font-family: 'Cantarell', sans-serif;
    font-size: 18px;
    color: #9B9B9B;
    padding-top: 40px;
    padding-bottom: 70px;
}

.gray:hover {
    color: #2E2E2E;
}

a {
    text-decoration: none;
    color: #9B9B9B;
}

a:hover {
    color: #2E2E2E;
}

  
.link{
    position: relative;
    cursor: pointer;
}
  
.link:after{
    content: '';
    position: absolute;
    width: 0; height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #2E2E2E;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}
   
.link:hover:after{
    width: 100%;
    left: 0;
    background: #2E2E2E;
}

.logo {
    position:absolute;
    margin-left: 6%;
    padding-top: 25px;
}

.intro {
    text-align: center;
    font-family: 'Cantarell', sans-serif;
    color: #2E2E2E;
    margin-top: 30vh;
    opacity: 0;
}

.intro-subtext {
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
    color: #2E2E2E;
    margin-top: -20px;
    font-size: 18px;
    display: none;
}

.intro-box {
    background-image: linear-gradient(to right, #30515e, #3b7a91);
    height: 70px;
    position: relative;
    width: 0;
    margin-left: -70px;
    transform:translate(0,-70px)
}

/* .intro-box2 {
    background-image: linear-gradient(to right, rgba(100, 43, 43, 0), rgba(59,127,152,1));
    height: 70px;
    width: 130px;
    transform:translate(50px,-125px);
    position: absolute;
    left: 815px;
    display: none;
} */

.mick {
    z-index: 10;
    position: relative;
    color: white;
}
 
#hero-button {
    padding: 8px;
    font-size: 16px;
    border: 2.5px solid #3b7a91;
    border-radius: 6px;
    max-width: 180px;
    height: 45px;
    color: #3b7a91;
    cursor: pointer;
    display: none;
    /* position: absolute; */
}

#hero-button:hover {
    color: white;
    background-color: #3b7a91;
}

.view-projects {
    display: none;
    margin-top: 23vh;
    /* position: absolute; */
}

.arrow-position {
    margin-top: -20px;
}

/* Project1 */

.project-tiles {
    position: relative;
    top: 20vh;
}

.naval-vp {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 20vh;
}

.naval {
    background-color: #D5D5D5;
    height: 12vh;
    width: 4px;
    position: absolute;
    margin-left: 7%;
}

#naval1 {
    margin-top: 12vh;
    background-color: #2E2E2E;
}

#naval2 {
margin-top: 28vh;
}

#naval3 {
margin-top: 44vh;
}

/* [1] The container */
.img-hover-zoom {
    overflow: hidden; 
}
  
/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
    transition: transform .5s ease;
}
  
/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
    transform: scale(1.1);
}

.picture-container-sm{
    height: 275px;
    width: 100%;
    object-fit: cover;
    /* object-position: 0px -40px; */
    /* border-radius: 13px; */
  }

.picture-container-lg{
    height: 560px;
    width: 100%;
    object-fit: cover;
    /* object-position: 0px -30px; */
    /* border-radius: 13px; */
}

.container-bottom {
    transform:translateY(-275px);
}

.project-description-box {
      height: 275px;
      width: 100%;
}

#project1-description-box {
    background-color: #9AA28D;
}

#project2-description-box {
    background-color: #FDF3D2;
}

#project3-description-box {
    background-color: #909F76;
}

.view-study {
    transform: translate(190px,-25px);
}

.view-study-style {
    text-decoration: none;
    color: #2E2E2E;
}

#contact-position {
    top: 300px;
    position: relative;
}
