* {

}

body {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
}

.bold {
    font-weight: bold;
}

h1 {
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-size: 22px;
    color: #555555;
}

.orange {
    color: #FF9364;
}

.orange-background {
    background-color: #FF9364;
}

/* Home */

.navbar {
    text-align: center;
    font-family: 'Cantarell', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    color: #9B9B9B;
    padding-top: 40px;
    padding-bottom: 70px;
    z-index: 100;
}

.burger {
    display: none;
    z-index: 200;
    position: absolute;
    right: 0px;
    margin-right: 6%;
    transform: translate(-15px,-11px);
}

.burger div {
    width: 30px;
    height: 3px;
    background-color: #2E2E2E;
    margin: 5px;
    transition: all .3s ease; 
}

.line2 {
    width: 25px !important;
    background-color: #9AA28D;
}

@media all and (max-width: 576px) {
    .navbar { 
        position: absolute;
        right: 0px;
        height: 100vh;
        background-color: #fcfcfc;
        opacity: 0;
        width: 103vw;
        /* transform: translateX(100%); */
        transition: transform 3s ease-in-out;
        z-index: 100;
    }
    .mobile-color { 
        color: #2E2E2E;
        /* opacity: 0; */
    }
    .burger {
        display: block;        
    }
    .navbar div {
        opacity: 0;
    }
}

.nav-active {
    /* transform: translateX(0%); */
    opacity: .9;
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

@media all and (max-width: 576px) {
    .mobile-padding {
        padding-top: 20vh;
    }
}

@media all and (max-width: 576px) {
    .mobile-padding {
        padding-top: 20vh;
    }
}

.gray:hover {
    color: #2E2E2E;
}

a {
    text-decoration: none;
    color: #9B9B9B;
}

a:hover {
    color: #2E2E2E;
}

  
.link{
    position: relative;
    cursor: pointer;
}
  
.link:after{
    content: '';
    position: absolute;
    width: 0; height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #2E2E2E;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}
   
.link:hover:after{
    width: 100%;
    left: 0;
    background: #2E2E2E;
}

.logo {
    position:absolute;
    margin-left: 6%;
    padding-top: 27px;
    z-index: 90;
}

#hero-text {
    transform: translateY(-145%);
    color: #B9CAE3;
    position: absolute;
    font-size: 6vmax;
}

.bubble {
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    width: 300px;
    background: #FF9364;
    border-radius: 20px;
    padding: 24px;
    text-align: center;
    color: white;
}
  
.bubble-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #FF9364;
    border-right: 12px solid transparent;
    border-top: 12px solid #FF9364;
    border-bottom: 20px solid transparent;
    left: -20px;
    bottom: 30px;
    transform: rotate(65deg);
}

.circle {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    padding: 10px;
    background:#FF9364;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .circle-container {
    grid-template-columns: 1fr;
    display: grid;
    text-align: center;
    margin: 0 auto;
    align-content: center;
} */

.text-box {
    background-color: #FF9364;
    height:100%; 
    border-radius:10px;
    padding: 30px 30px 20px 30px;
    color: white;
}

.reverse-icon {
    background-color: #FF9364;
    border-radius: 50%;
    width: 110px;
    height: 110px;
}

.reverse-circle {
    border: 9px solid #FF9364;
	border-radius: 50%;
	width: 108px;
	height: 108px;
	z-index: 300;
    transform: translate(1px,-108px);
}

#traveler {
    transform: translateY(-108px);
}

.upper-arrow {
    transform: rotate(24deg);
    right: 10px;
    position: relative;
}

.lower-arrow {
    transform: rotate(205deg);
    top: -150px;
    left: 18px;
    position: relative;
}

@media all and (max-width: 992px) {
    #diagram { transform: translateY(-60px)}
}

@media all and (max-width: 992px) {
    #lower-description { transform: translateY(-245px)}
}

@media all and (max-width: 992px) {
    #ideation
     { transform: translateY(-180px)}
}

#prototype-arrow {
    transform: rotate(90deg);
    width: 100px;
    position: relative;
    right: 20px;
}

@media all and (max-width: 768px) {
    #prototype-arrow
     { transform: rotate(180deg);}
}

@media all and (max-width: 992px) {
    #prototype-arrow
     { left: 3px;}
}

@media all and (max-width: 992px) {
    .rwd-shift
     { transform: translateY(-180px)}
}

.picture-box {
    border-style: solid;
    border-width: 1px;
}

#user-testing-box {
    padding-left: 30px;
}

#hero-button {
    padding: 1px;
    padding-top: 1em;
    font-size: 16px;
    border: 2.5px solid #FF9364;
    border-radius: 6px;
    width: 180px;
    /* height: 45px; */
    color:  #FF9364;
    cursor: pointer;
   text-align: center;
    /* display: none; */
    /* position: absolute; */
}

#hero-button:only-child {
    justify-self: center;
    align-self: center
}

#hero-button:hover {
    color: white;
    background-color: #FF9364;
}

#prototype {
    border: 2.5px solid rgb(36, 36, 36);
}

.center-text {
    text-align: center;
}