body {
    color: #253435;
    font-family: 'Open Sans', sans-serif;
    background-color: #EEF8EC;
}

.bold {
    font-weight: bold;
}

h1 {
    font-size: 48px;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    color: #253526;
}

h2 {
    font-size: 36px;
    font-family: 'Comfortaa', cursive;
    color: #253526;
}

h3 {
    font-size: 26px;
    color: #253526;
    line-height: 35px;
}

/* .orange {
    color: #FF9364;
} */

/* .orange-background {
    background-color: #FF9364;
} */

.center-text {
    text-align: center;
}

/* Home */

.navbar {
    text-align: center;
    font-family: 'Cantarell', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    color: #9B9B9B;
    padding-top: 40px;
    padding-bottom: 70px;
    z-index: 100;
}

.burger {
    display: none;
    z-index: 200;
    position: absolute;
    right: 0px;
    margin-right: 6%;
    transform: translate(-15px,-11px);
}

.burger div {
    width: 30px;
    height: 3px;
    background-color: #2E2E2E;
    margin: 5px;
    transition: all .3s ease; 
}

.line2 {
    width: 25px !important;
    background-color: #9AA28D;
}

@media all and (max-width: 576px) {
    .navbar { 
        position: absolute;
        right: 0px;
        /* top: 12vh; */
        height: 100vh;
        background-color: #fcfcfc;
        opacity: .98;
        width: 103vw;
        transform: translateX(100%);
        transition: transform .5s ease-in-out;
    }
    .mobile-color { 
        color: #2E2E2E;
        /* opacity: 0; */
    }
    .burger {
        display: block;        
    }
    .navbar div {
        opacity: 0;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

@media all and (max-width: 576px) {
    .mobile-padding {
        padding-top: 10vh;
    }
}

.gray:hover {
    color: #2E2E2E;
}

a {
    text-decoration: none;
    color: #9B9B9B;
}

a:hover {
    color: #2E2E2E;
}

  
.link{
    position: relative;
    cursor: pointer;
}
  
.link:after{
    content: '';
    position: absolute;
    width: 0; height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #2E2E2E;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}
   
.link:hover:after{
    width: 100%;
    left: 0;
    background: #2E2E2E;
}

.logo {
    position:absolute;
    margin-left: 6%;
    padding-top: 25px;
    z-index: 90;
}

.header-box {
    background-color: #AABE80;
    padding: 15px 15px 7px 15px;
    position: relative;
    left: -10px;
    top: -10px;
}

.text-box {
    background-color: #AABE80;
    padding: 30px 30px 20px 30px;
    position: relative;
    left: -10px;
    top: -10px;
}

.box2 {
    background-color: #869A6A;  
    position: relative;
    top: 10px; 
}

#hero-button {
    padding: 1px;
    padding-top: 1em;
    font-size: 16px;
    background-color: #AABE80;
    border-radius: 6px;
    width: 180px;
    /* height: 45px; */
    color:  white;
    cursor: pointer;
   text-align: center;
    /* display: none; */
    /* position: absolute; */
}

#hero-button:only-child {
    justify-self: center;
    align-self: center;
}

#hero-button:hover {
    color: white;
    background-color:#869A6A;
}

#hero-background {
    background-image: linear-gradient(#F1F8C5, #A0BA73);
}

@media all and (max-width: 992px) {
    .rwd-shift
     { transform: translateY(-85px)}
}

.rwd-text {
    font-size: 3.5vmin;
}