body {
    color: #253435;
    font-family: 'Open Sans', sans-serif;
    background-color: #EEF8EC;
    color: #253526;
}

.bold {
    font-weight: bold;
}

h1 {
    font-size: 48px;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    color: #253526;
}

h2 {
    font-size: 28px;
    font-family: 'Comfortaa', cursive;
    color: #253526;
}

h3 {
    font-size: 18px;
    color: #253526;
    /* line-height: 35px; */
}

.center-text {
    text-align: center;
}

/* Nav */

#nav {
    position: absolute;
    z-index: 100;
}

.navbar {
    text-align: center;
    font-family: 'Cantarell', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    color: #9B9B9B;
    padding-top: 52px;
    /* padding-bottom: 70px; */
}

.burger {
    display: none;
    z-index: 200;
    /* position: absolute; */
    position: fixed;
    right: 0px;
    margin-right: 6%;
    transform: translate(-10px,-29.5px);
}

.burger div {
    width: 30px;
    height: 3px;
    background-color: #2E2E2E;
    margin: 5px;
    transition: all .3s ease; 
}

.line2 {
    width: 25px !important;
    background-color: #9AA28D;
}

@media all and (max-width: 576px) {
    .navbar { 
        position: absolute;
        right: 0px;
        height: 100vh;
        /* background-color: #fcfcfc;
        opacity: 0.9; */
        background: rgba(255, 255, 255, 0.89);
        backdrop-filter: blur( 5px );
        -webkit-backdrop-filter: blur( 5px );
        width: 103vw;
        transform: translateX(100%);
        transition: transform .6s ease-in-out;
        z-index: 100;
    }
    .mobile-color { 
        color: #2E2E2E;
        /* opacity: 0; */
    }
    .burger {
        display: block;        
    }
    .navbar div {
        opacity: 0;
    }
    #nav {position: fixed;}
}

.nav-active {
    transform: translateX(0%);
    /* opacity: .9; */
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

.gray:hover {
    color: #2E2E2E;
}

a {
    text-decoration: none;
    /* color: #9B9B9B; */
    /* color: #6B6B6B; */
    color: #2E2E2E;
}

a:hover {
    color: #2E2E2E;
}
  
.link{
    position: relative;
    cursor: pointer;
}
  
.link:after{
    content: '';
    position: absolute;
    width: 0; height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #2E2E2E;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}
   
.link:hover:after{
    width: 100%;
    left: 0;
    background: #2E2E2E;
}

.nav-box {
    /* width: 640px; */
    width: 50vw;
    height: 64px;
    position: absolute;
    z-index: -1;
    border-radius: 60px;
    background: rgba(255, 255, 255, 0.616);
    box-shadow: 0 3px 7px 0 rgba(7, 7, 14, 0.048);
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.nav-box-mobile { display: none; }

@media all and (max-width: 576px) {
    .nav-box { display: none; }

    .nav-box-mobile {
        display: block;
        width: 100vw;
        height: 64px;
        position: fixed;
        z-index: 40;
        background: rgba(255, 255, 255, 0.616);
        box-shadow: 0 3px 7px 0 rgba(7, 7, 14, 0.048);
        backdrop-filter: blur( 12px );
        -webkit-backdrop-filter: blur( 12px );
        border: 1px solid rgba(255, 255, 255, 0.18);
        top: 0;
        left: 0;
    }
}

.logo {
    position: absolute;
    margin-left: 6%;
    /* padding-top: 25px; */
    padding-top: 43px;
    z-index: 500;
}

@media all and (max-width: 576px) {
    .logo {
        position: fixed;
        padding-top: 10px;
    }
}

.hero-desktop {
    padding-top: 20vh;
}

@media all and (max-width: 576px) {
    .hero-mobile {
        padding-top: 6vh;
    }
    .hero-desktop {
        padding-top: 0vh;
    }
}

.header-box {
    background-color: #AABE80;
    padding: 15px 15px 7px 15px;
    position: relative;
    transform: translate(-10px,-10px);
    display: inline-block;
}

.text-box {
    background-color: #AABE80;
    padding: 30px 30px 20px 30px;
    position: relative;
    left: -10px;
    top: -10px;
}

.text-box-stats {
    background-color: #AABE80;
    padding: 15px 10px 5px 10px;
    position: relative;
    left: -10px;
    top: -10px;
}

@media all and (max-width: 375px) {
    .text-box-stats {
        left: -5px;
        top: -5px;
    }
}

.box2-header {
    background-color: #869A6A;  
    position: relative;
    display: inline-block;
    height: 56px;
}

.box2 {
    background-color: #869A6A;  
    position: relative;
    top: 10px; 
}

.green {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    left: 30px
}

.bro {
    position: relative;
    transform: translate(-10px,-10px);
}

#hero-button {
    padding: 1px;
    padding-top: 1em;
    font-size: 16px;
    background-color: #AABE80;
    border-radius: 6px;
    width: 180px;
    /* height: 45px; */
    color:  white;
    cursor: pointer;
   text-align: center;
    /* display: none; */
    /* position: absolute; */
}

#hero-button:only-child {
    justify-self: center;
    align-self: center;
}

#hero-button:hover {
    color: white;
    background-color:#869A6A;
}

#hero-background {
    background-image: linear-gradient(#F1F8C5, #A0BA73);
}

@media all and (max-width: 992px) {
    .rwd-shift
     { transform: translateY(-85px)}
}

.rwd-text {
    font-size: 4vmin;
}